@charset "UTF-8";

html{
    height: 100%;
}
/* login画面共通部分 */
body{
    height: 100%;
    background: rgb(255,233,39);
    background: linear-gradient(0deg, rgba(255,233,39,1) 0%, rgba(174,208,157,1) 26%, rgba(0,120,255,1) 100%);
}

header{
    text-align: center
    
}

.top-image{
    width: 15%;
    height: 15%;
    padding:10rem 0 0 0;
}

.top-title{
    color: #ffff;
    font-size: 20px;
    font-weight: bold;
    padding:0 0 50px 0
}

/* loginblade */

.form{
  background-color:#999999;
  opacity: 0.85;
  width:250px;
  margin:auto auto;
  height: 260px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
   }

label{
    padding: 10px;
    border-radius: 10px;
}

p{
    color: #ffff;
    text-align: center;
    padding-top: 10px;
}

.text_area{
    padding: 20px;
    
}

.text_area label{
    font-size: 15px;
}

.text_area input{
    margin-left: 10px;
    border-radius: 5px;
}

.form_register{
    background-color:#999999;
    opacity: 0.85;
    width:280px;
    margin:auto auto;
    height: 400px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.form_register input{
    margin-left: 30px;
}

.form_register label{
    font-size: 15px;
    
}

#clear{
  background-color:#999999;
  width:220px;
  margin:auto auto;
  height: 210px;
  border-radius: 10px;
  color: #ffff;
}

