@charset "utf-8";
/* html{
}
body{
} */
/* header */
header{
    background:#186AC9;
    width: 100%;
    height: 6rem;
    display:flex;
}

#head img{
  margin-top: 10px;
  padding: 10px;
  height: 70px;
}

.icon{
  position: absolute; 
  top:10px;
  right:0;
  margin-right: 20px;
  margin-top: 10px;
  height:15px;
}

.icon img{
  width: 50px;
}

.name{
  margin:35px 140px 0 auto;
  color: #fff;
}

/* アコーディオンメニュー */
.menu-btn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 15px;
  right: 70px;
  background: transparent;
  border: none;
  /* outline: initial;
  &:focus-visible {
    box-shadow: 0 0 0 2px blue;
  } */
  .inn {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
 
    &:before {
      position: absolute;
      content: "";
      top: 40%;
      left: 50%;
      width: 15px;
      height: 15px;
      transform: translate(-50%, -40%) rotate(135deg);
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      transition: 0.3s ease;
    }
  }
}
 
.menu-btn.is-open {
  .inn {
    &:before {
      top: 60%;
      transform: translate(-50%, -60%) rotate(-45deg);
    }
  }
}
 
.menu {
  position: absolute;
  top: 95px;
  width: 20%;
  text-align: right;
  background-color: #fff;
  opacity: 0;
  transition: .3s ease-in-out;
  pointer-events: none;
  transform: translateY(-30px);
  margin-left: auto;
  /* margin-right: 0; */
  text-align: right;
  position: absolute;
  right: 1px;

          
  ul {
    border-bottom: 1px solid #000;
    li {
      height: 60px;
      border-top: 1px solid #000;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    /* li:hover{
        background-color: #186AC9; */
      }
      li:hover{
        background-color: #186AC9;
    }
    a:hover{
      color: #fff;
    }
  }
}
 


.menu.is-open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  position: absolute;
  right: 1px;
  margin-right: 0;
  text-align: right;
  z-index: 1;
}


/* main content サイドバー*/
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;

}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

#confirm{
  padding-bottom: 50px;
  border-bottom:1px solid #727272 ;
  margin-top: 10px;
}

#confirm p{
  margin-top: 30px;
  margin-left: 20px;
}

.count{
  display: flex;
  margin-top: 20px;
}

#confirm a{
  position: absolute;
  right:8px;
  margin-left:8rem;
  margin-top: 15px;
  
}

#user_search_btn{
  text-align: center;
  padding-top: 50px;
  margin-top: 20px;
}


.index_container{
  display: flex;
  /* justify-content:space-between; */
  margin-bottom: 30px;
  border-bottom: 5px solid #727272;
}

.index_container textarea{
  height: 50px;
}

.form-control{
  width: 50%;
  height:20px;
  padding: 10px;
  resize: none;
  margin-top: 10px;
}


.post_user_image{
  width: 5%;
  height: 5%;
  margin-top: 10px;
}

.post_btn{
  border: none;
  background: transparent;
  margin-top: auto;
  margin-bottom: 0;
  /* display: inline-block; */
}

.post_btn img{
  width: 50px;
  border-radius: 10px;
  /* margin-top: 12em;
  margin-bottom: auto; */
  /* margin-left:30rem; */
}

/* 投稿画面（index) */
.post_list{
  width: 80vw;
  border-bottom: 1px solid #727272;
}
.post_date{
  display: flex;
  margin-top: 10px;
}

.username{
  padding-bottom: 0%;
}

.post_image{
  width:50px;
  margin-left: 70px;
}

.post{
  margin-left: 120px;
  /* margin-right: 0; */
  display: flex;
  margin-bottom: 20px;
}

.update{
  margin-left: auto;
  margin-right: 0;
  font-size: 10px;
}

.post_detail{
  text-align: right;
  /* border-bottom: solid 1px #727272;; */
  /* display: flex; */
}




.edit img{
  height: 30px;
}

.delete img{
  height: 30px;
  
}


.content{
  margin: 0 auto;
  padding: 40px;
}

.UserProfile{
  margin: 0 auto;
}

.UserProfile img{
  width: 5%;
  height: 5%;
  margin-top: 30px;
  margin-left: 10rem;
}

.UserProfile ul{
  margin-left: 18rem;
}

.UserProfile li{
  margin-bottom: 50px;
  margin-right: 10px;
}

.UserProfile label{
  margin-right: 60px;
  width:150px;
  float: left;
}

.UserProfile input{
  width: 28rem;
}

.profile_edit{
  padding:0 30rem;
}
/* フォロー、フォロワーリスト */
.icon_List{
  display: flex;
  border-bottom: 5px solid #727272;
}

.icon_list{
  display: flex; 
  flex-wrap: wrap;
  margin-top:15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.ff_list{

  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: auto;
}



/* .icon_list p{
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: auto;
  display: block;
} */

.icon_list img{
  width: 50px;
  margin: 10px;
}

/* 検索画面 */
#search{
  border-bottom:5px solid #727272 ;
  /* display: flex;
  justify-content: space-between; */
  margin-bottom: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
  display: flex;
}

#search input{
  width: 30%;
  height:50px;
  padding: 10px;
  margin-left: 10px;
}


#search button{
  border: none;
  background: transparent;
  /* margin-top: auto; */
  /* margin-bottom: 0; */
}

#search img{
  width: 50px;
  border-radius: 10px;
  /* margin-top: auto;
  margin-bottom: 10px; */
  
}

h3{
  margin-right: 100px;
  margin-left:20rem ;
}
/* #search input{
  : 5rem;
} */


.search_user{
  padding-left: 30%;
}

.user_detail{
  display: flex;
  margin-bottom: 20px;
  /* justify-content: space-between; */
}

.search_username{
  margin-left: 20px;
  margin-top: 15px;
}

.search_user form{
  position: absolute;
  right: 40%;
}

.user_detail img{
  height: 50px;
  margin-left: 50px;
}

.user_detail button{
  text-align: right;
}

.other_user_profile{
  /*  */
  padding-bottom: 50px;
  border-bottom:5px solid #727272;
}

.other_user_profile p{
  margin-left: 10px;
}

.other_user_profile ul{
  display: flex;
}

.other_user_profile img{
  width: 60px;
  margin-left: 50px;
}

.other_user_name{
  display: flex;
  margin-left: 10rem;
}

.Other_bio{
  display: flex;
  margin-left: 10rem;
  margin-top: 10px;
}


.other_name{
  margin-right: 15px;
}

.user_bio{
  margin-right: 25px;
}

.other_user_profile form{
  position:absolute;
  top: 10rem;
  margin-left: 65rem;
  margin-right: auto;
}

.other_user_detail{
  margin-top: 10px;
  width: 80vw;
  border-bottom: 1px solid #727272;
  margin-bottom: 10px;
}

.other_user_postlist{
 display: flex;
  margin-top: 10px; 
}

.other_user_postlist img{
  width:50px;
  margin-left: 60px;
}



/* .other_name{
  margin-left: 30px;
} */

.other_post{
  margin-left: 120px;
  /* margin-right: 0; */
  /* display: block; */
  margin-bottom: 20px;
}


.other_update{
  margin-right: 0;
  margin-left: auto;
  font-size: 10px;
}





/* モーダル */

.modal{
  display: none;
  height: 100vh;
  position:fixed;
  top: 0;
  width:100%
}

.modal__bg{
  /* display: block; */
  background: rgba(0,0,0,0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content{
  background: #fff;
  border-radius: 5px;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 50%;

}

.modal__content textarea{
  width: 40rem;
  margin: auto;
  height: 10em;
}

.modal__content img{
  width: 20px;
  /* margin-left: 18rem; */
}

.modal__content button{
  width: 30px;
  margin-left: 20rem;
  border: none;
  background-color: #fff;
}